.image-input{
	text-align: center;
}
.image-input input{
	display: none;
}
.image-input label {
    display: block;
    color: black;
    padding: 0.3rem 0.3rem;
    font-size: 115%;
    cursor: pointer;
    background: rgb(173 189 218);
    border-radius: 59px;
    text-align: center;
    width: 31px;
}
.image-input label i{
	font-size: 125%;
	margin-right: .3rem;
}
.image-input label:hover i{
	animation: shake .35s;
}
.image-input img{
	margin: 10px;
	max-width: 200px;
	display: block;
	/*padding: 10px;*/
}
.image-input span{
	display: none;
	text-align: center;
	cursor: pointer;
    color: #000;
    background: #ffda00;
	padding: 1.3rem .6rem;
	font-size: 115%;
	cursor: pointer;
	border-radius: 5px;
}
.image-input span i{
	font-size: 125%;
	margin-right: .3rem;
}
.image-input span:hover i{
	animation: shake .35s;
}
@keyframes shake{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}


.hide, #hide{
	display: none;
}
.show, #show{
	display: block;
}

p.sender-name {
    margin: 0px;
}
.img-body {
    padding: 0.7rem !important;
}
small.text-muted i {
    font-size: small;
}
p.sender-name i {
    font-size: small;
}


.masonry { 
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img{max-width:100%;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.tab-pane .media.mb-2 {
    position: relative;
}

.tab-pane .media-body {
    position: absolute;
    bottom: -6px;
    left: 30px;
}
 .table td {
    padding: 0.5rem 1rem  !important;
}
.table th {
    padding: 1.15rem 1rem  !important;
}
.table.dataTable {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-collapse: collapse !important;
    border-spacing: 2px;
    min-height: 160px;
}

.table.dataTable>tbody>tr>td>p {
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.name_str {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}